:root {
  --primary-color: #5d2591;
}

.mobile {
  height: 100vh;
  width: 60vw;
  position: absolute;
  right: 0px;
  padding: 30px 12px;
  top: -6px;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
}

.close-icon {
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  color: white;
}

.mobile-options {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 0px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mobile-option {
  font-size: 20px;
  margin: 36px 8px;
  display: flex;
}

.mobile-option a {
  color: white;
  display: flex;
  font-weight: 600;
}
