.mobile {
    height: 70vh;
    width: 60vw;
    position: absolute;
    right: 0px;
    padding: 30px 12px;
    top: -6px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.close-icon {
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
}

.mobile-options {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 0px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.mobile-option {
    font-size: 20px;
    margin: 36px 8px;
    display: flex;
}

.mobile-option a {
    text-decoration: none;
    color: black;
    display: flex;
}