body {
  margin: 0;
  font-family: 'Nunito','Fira Sans', 'monospace', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Nunito','Fira Sans', 'monospace', source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
}
