.about {
  padding-bottom: 48px;
}

.about-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.picture {
  height: 320px;
  padding: 10px;
}

.about-info {
  font-size: 22px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 14px;
}

.education {
  font-style: italic;
  color: rgb(169, 91, 169);
}

.info-name {
  font-size: 54px;
  font-weight: 600;
  font-family: 'Fira Mono', 'Fira Sans', monospace;
  color: rgba(85,26,139,255)
}

.hello {
  font-family: 'Fira Mono', 'Fira Sans', monospace;
  font-weight: 500;
}

.statement {
  padding-top: 24px;
  font-family: 'Fira Mono', 'Fira Sans', monospace;
  font-weight: 500;
}

@media only screen and (max-width: 1096px) {
  .info-name {
    font-size: 38px;
  }
}


@media only screen and (max-width: 720px) {
  .about-top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .info-name {
    font-size: 34px;
  }
  .statement {
    font-size: 18px;
  }
  .hello {
    font-size: 18px;
  }
  .education {
    font-size: 18px;
  }
}

@media only screen and (max-width: 430px) {
  .about-top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .picture {
    height: 300px;
  }
  
}

@media only screen and (max-width: 430px) {
  .about-top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .picture {
    height: 300px;
  }
  .info-name {
    font-size: 34px;
    font-weight: 600;
    font-family: 'Fira Mono', 'Fira Sans', monospace;
    color: rgba(85,26,139,255)
  }
}

@media only screen and (max-width: 360px) {
    .about-top {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .picture {
      height: 250px;
    }
  }




 
